<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/calendar.css" />
<%- include('../partials/nav') %>

<!-- SUNDAY -->

<% let sundayBreakfast %>
<% let sundayBreafastId %>
<% let sundayLunch %>
<% let sundayLunchId %>
<% let sundayDinner %>
<% let sundayDinnerId %>
<% schedules.forEach(schedule=> { %>
  <% if(schedule.day.toString()==='Sunday' ) {%>
    <% if( schedule.meal.toString()==='Breakfast' ) {%>
      <% sundayBreafastId = schedule._id %>
      <% sundayBreakfast = schedule.recipe.title %>
    <% } if( schedule.meal.toString()==='Lunch' ) {%>
      <% sundayLunchId = schedule._id %>
      <% sundayLunch = schedule.recipe.title %>
    <% } else if( schedule.meal.toString()==='Dinner' ) {%>
      <% sundayDinnerId = schedule._id %>
      <% sundayDinner = schedule.recipe.title %>
    <% } %>
  <% } %> 
<% }); %>

<!-- MONDAY -->

<% let mondayBreakfast %>
<% let mondayBreakfastId %>
<% let mondayLunch %>
<% let mondayLunchId %>
<% let mondayDinner %>
<% let mondayDinnerId %>
<% schedules.forEach(schedule=> { %>
  <% if(schedule.day.toString()==='Monday' ) {%>
    <% if( schedule.meal.toString()==='Breakfast' ) {%>
      <% mondayBreakfastId = schedule._id %>
        <% mondayBreakfast = schedule.recipe.title %>
    <% } if( schedule.meal.toString()==='Lunch' ) {%>
      <% mondayBreakfastId = schedule._id %>
        <% mondayLunchId = schedule.recipe.title %>
    <% } else if( schedule.meal.toString()==='Dinner' ) {%>
      <% mondayDinnerId = schedule._id %>
        <% mondayDinner = schedule.recipe.title %>
    <% } %>
  <% } %> 
<% }); %>

<!-- TUESDAY -->

<% let tuesdayBreakfast %>
<% let tuesdayBreakfastId %>
<% let tuesdayLunch %>
<% let tuesdayLunchId %>
<% let tuesdayDinner %>
<% let tuesdayDinnerId %>
<% schedules.forEach(schedule=> { %>
  <% if(schedule.day.toString()==='Tuesday' ) {%>
    <% if( schedule.meal.toString()==='Breakfast' ) {%>
      <% tuesdayBreakfastId = schedule._id %>
      <% tuesdayBreakfast = schedule.recipe.title %>
    <% } if( schedule.meal.toString()==='Lunch' ) {%>
      <% tuesdayLunchId = schedule._id %>
      <% tuesdayLunch = schedule.recipe.title %>
    <% } else if( schedule.meal.toString()==='Dinner' ) {%>
      <% tuesdayDinnerId = schedule._id %>
      <% tuesdayDinner = schedule.recipe.title %>
    <% } %>
  <% } %> 
<% }); %>

<!-- WEDNESDAY -->

<% let wednesdayBreakfast %>
<% let wednesdayBreakfastId %>
<% let wednesdayLunch %>
<% let wednesdayLunchId %>
<% let wednesdayDinner %>
<% let wednesdayDinnerId %>
<% schedules.forEach(schedule=> { %>
  <% if(schedule.day.toString()==='Wednesday' ) {%>
    <% if( schedule.meal.toString()==='Breakfast' ) {%>
      <% wednesdayBreakfastId = schedule._id %>
      <% wednesdayBreakfast = schedule.recipe.title %>
    <% } if( schedule.meal.toString()==='Lunch' ) {%>
      <% wednesdayLunchId = schedule._id %>
      <% wednesdayLunch = schedule.recipe.title %>
    <% } else if( schedule.meal.toString()==='Dinner' ) {%>
      <% wednesdayDinnerId = schedule._id %>
      <% wednesdayDinner = schedule.recipe.title %>
    <% } %>
  <% } %> 
<% }); %>

<!-- THURSDAY -->

<% let thursdayBreakfast %>
<% let thursdayBreakfastId %>
<% let thursdayLunch %>
<% let thursdayLunchId %>
<% let thursdayDinner %>
<% let thursdayDinnerId %>
<% schedules.forEach(schedule=> { %>
  <% if(schedule.day.toString()==='Thursday' ) {%>
    <% if( schedule.meal.toString()==='Breakfast' ) {%>
      <% thursdayBreakfastId = schedule._id%>
      <% thursdayBreakfast = schedule.recipe.title %>
    <% } if( schedule.meal.toString()==='Lunch' ) {%>
      <% thursdayLunchId = schedule._id %>
      <% thursdayLunch = schedule.recipe.title %>
    <% } else if( schedule.meal.toString()==='Dinner' ) {%>
      <% thursdayDinnerId = schedule._id %>
      <% thursdayDinner = schedule.recipe.title %>
    <% } %>
  <% } %> 
<% }); %>

<!-- FRIDAY -->

<% let fridayBreakfast %>
<% let fridayBreakfastId %>
<% let fridayLunch %>
<% let fridayLunchId %>
<% let fridayDinner %>
<% let fridayDinnerId %>
<% schedules.forEach(schedule=> { %>
  <% if(schedule.day.toString()==='Friday' ) {%>
    <% if( schedule.meal.toString()==='Breakfast' ) {%>
      <% fridayBreakfastId = schedule._id%>
      <% fridayBreakfast = schedule.recipe.title %>
    <% } if( schedule.meal.toString()==='Lunch' ) {%>
      <% fridayLunchId = schedule._id%>
      <% fridayLunch = schedule.recipe.title %>
    <% } else if( schedule.meal.toString()==='Dinner' ) {%>
      <% fridayDinnerId = schedule._id%>
      <% fridayDinner = schedule.recipe.title %>
    <% } %>
  <% } %> 
<% }); %>

<!-- SATURDAY -->

<% let saturdayBreakfast %>
<% let saturdayBreakfastId %>
<% let saturdayLunch %>
<% let saturdayLunchId %>
<% let saturdayDinner %>
<% let saturdayDinnerId %>
<% schedules.forEach(schedule=> { %>
  <% if(schedule.day.toString()==='Saturday' ) {%>
    <% if( schedule.meal.toString()==='Breakfast' ) {%>
      <% saturdayBreakfastId = schedule._id%>
      <% saturdayBreakfast = schedule.recipe.title %>
    <% } if( schedule.meal.toString()==='Lunch' ) {%>
      <% saturdayLunchId = schedule._id%>
      <% saturdayLunch = schedule.recipe.title %>
    <% } else if( schedule.meal.toString()==='Dinner' ) {%>
      <% saturdayDinnerId = schedule._id%>
      <% saturdayDinner = schedule.recipe.title %>
    <% } %>
  <% } %> 
<% }); %>




  <main>
    <div class="container">
      <h1>
        <%= title %>
      </h1>
      <div class="schedule_container">
        <div class="days_container">
          <span class="corner"></span>
          <div class="day">SUNDAY</div>
          <div class="day">MONDAY</div>
          <div class="day">TUESDAY</div>
          <div class="day">WEDNESDAY</div>
          <div class="day">THURSDAY</div>
          <div class="day">FRIDAY</div>
          <div class="day">SATURDAY</div>
        </div>
        <div class="meal_time">
        <span class="time">Breakfast</span>
        <div class="meal">
          <% if(sundayBreakfast !== undefined) { %>
            <form action="/calendar/<%= sundayBreafastId %>?_method=DELETE" method="POST">
              <button type="submit"><%= sundayBreakfast %></button>
            </form>
          <% } %>
        </div>
        <div class="meal">
          <% if(mondayBreakfast !== undefined) { %>
            <form action="/calendar/<%= mondayBreakfastId %>?_method=DELETE" method="POST">
              <button type="submit"><%= mondayBreakfast %></button>
            </form>
          <% } %>
        </div>
        <div class="meal">
          <% if(tuesdayBreakfast !== undefined) { %>
            <form action="/calendar/<%= tuesdayBreakfastId %>?_method=DELETE" method="POST">
              <button type="submit"><%= tuesdayBreakfast %></button>
            </form>
          <% } %>
        </div>
        <div class="meal">
          <% if(wednesdayBreakfast !== undefined) { %>
            <form action="/calendar/<%= wednesdayBreakfastId %>?_method=DELETE" method="POST">
              <button type="submit"><%= wednesdayBreakfast %></button>
            </form>
          <% } %>
        </div>
        <div class="meal">
          <% if(thursdayBreakfast !== undefined) { %>
            <form action="/calendar/<%= thursdayBreakfastId %>?_method=DELETE" method="POST">
              <button type="submit"><%= thursdayBreakfast %></button>
            </form>
          <% } %>
        </div>
        <div class="meal">
          <% if(fridayBreakfast !== undefined) { %>
            <form action="/calendar/<%= fridayBreakfastId %>?_method=DELETE" method="POST">
              <button type="submit"><%= fridayBreakfast %></button>
            </form>
            <% } %>
          </div>
          <div class="meal">
            <% if(saturdayBreakfast !== undefined) { %>
              <form action="/calendar/<%= saturdayBreakfastId %>?_method=DELETE" method="POST">
                <button type="submit"><%= saturdayBreakfast %></button>
              </form>
          <% } %>
        </div>
      </div>

      <div class="meal_time">
        <span class="time">Lunch</span>
          <div class="meal">
            <% if(sundayLunch !== undefined) { %>
              <form action="/calendar/<%= sundayLunchId %>?_method=DELETE" method="POST">
                <button type="submit"><%= sundayLunch %></button>
              </form>
              <% } %>
          </div>
          <div class="meal">
            <% if(mondayLunch !== undefined) { %>
              <form action="/calendar/<%= mondayLunchId %>?_method=DELETE" method="POST">
                <button type="submit"><%= mondayLunch %></button>
              </form>
            <% } %>
          </div>
          <div class="meal">
            <% if(tuesdayLunch !== undefined) { %>
              <form action="/calendar/<%= tuesdayLunchId %>?_method=DELETE" method="POST">
                <button type="submit"><%= tuesdayLunch %></button>
              </form>
            <% } %>
          </div>
          <div class="meal">
            <% if(wednesdayLunch !== undefined) { %>
              <form action="/calendar/<%= wednesdayLunchId %>?_method=DELETE" method="POST">
                <button type="submit"><%= wednesdayLunch %></button>
              </form>
            <% } %>
          </div>
          <div class="meal">
            <% if(thursdayLunch !== undefined) { %>
              <form action="/calendar/<%= thursdayLunchId %>?_method=DELETE" method="POST">
                <button type="submit"><%= thursdayLunch %></button>
              </form>
            <% } %>
          </div>
          <div class="meal">
            <% if(fridayLunch !== undefined) { %>
              <form action="/calendar/<%= fridayLunchId %>?_method=DELETE" method="POST">
                <button type="submit"><%= fridayLunch %></button>
              </form>
              <% } %>
          </div>
          <div class="meal">
            <% if(saturdayLunch !== undefined) { %>
              <form action="/calendar/<%= saturdayLunchId %>?_method=DELETE" method="POST">
                <button type="submit"><%= saturdayLunch %></button>
              </form>
            <% } %>
          </div>
        </div>

          <div class="meal_time">
            <span class="time">Dinner</span>
          <div class="meal">
            <% if(sundayDinner !== undefined) { %>
              <form action="/calendar/<%= sundayDinnerId %>?_method=DELETE" method="POST">
                <button type="submit"><%= sundayDinner %></button>
              </form>
            <% } %>
          </div>
          <div class="meal">
            <% if(mondayDinner !== undefined) { %>
              <form action="/calendar/<%= mondayDinnerId %>?_method=DELETE" method="POST">
                <button type="submit"><%= mondayDinner %></button>
              </form>
            <% } %>
          </div>
          <div class="meal">
            <% if(tuesdayDinner !== undefined) { %>
              <form action="/calendar/<%= tuesdayDinnerId %>?_method=DELETE" method="POST">
                <button type="submit"><%= tuesdayDinner %></button>
              </form>
            <% } %>
          </div>
          <div class="meal">
            <% if(wednesdayDinner !== undefined) { %>
              <form action="/calendar/<%= wednesdayDinnerId %>?_method=DELETE" method="POST">
                <button type="submit"><%= wednesdayDinner %></button>
              </form>
            <% } %>
          </div>
          <div class="meal">
            <% if(thursdayDinner !== undefined) { %>
              <form action="/calendar/<%= thursdayDinnerId %>?_method=DELETE" method="POST">
                <button type="submit"><%= thursdayDinner %></button>
              </form>
            <% } %>
          </div>
          <div class="meal">
            <% if(fridayDinner !== undefined) { %>
              <form action="/calendar/<%= fridayDinnerId %>?_method=DELETE" method="POST">
                <button type="submit"><%= fridayDinner %></button>
              </form>
            <% } %>
          </div>
          <div class="meal">
            <% if(sundayDinner !== undefined) { %>
              <form action="/calendar/<%= saturdayDinnerId %>?_method=DELETE" method="POST">
                <button type="submit"><%= saturdayDinner %></button>
              </form>
            <% } %>
          </div>
        </div>
      </div>
      <p>To remove a recipe from the calendar, just click on it.</p>
      <form action="/calendar" method="POST">
        <button>Clear calendar</button>
    </form>
    </div>
  </main>

  

<%- include('../partials/footer') %>