<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>



<div>
  <div>
    <h1><%= title %></h1>
  </div>
  <ul>
<label> Ingredients:
  <% ingredients.forEach(ingredient => { %>
    <li><%= ingredient.name %> </li>
  <% }) %> 
</ul>
<form  action="/ingredients" method="POST">
  <label for="ingredient-input">new Ingredient:</label>
  <input type="text" name="name" id="ingredient-input">
  <button type="submit">Add Ingredient</button>
</form>
</div>
</div>

<%- include('../partials/footer') %>