<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/ingredient-list.css" />
  <%- include('../partials/nav') %>
    <main>
      <div>
        <div class="top">
          <h1>
            <%= title %>
          </h1>
        </div>
        <div class="input-group mb-3">
          <h2>NEW INGREDIENT:</h2>
          <form action="/ingredients" method="POST" class="new-ingredient-form">
            <input type="text" name="name" id="ingredient-input" class="form-control" aria-label="Recipient's username"
              aria-describedby="button-addon2" width="100%" autocomplete="off">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add Ingredient</button>
          </form>
        </div>


        <label> INGREDIENTS </label>
        <div id="ingredients-box">
          <% ingredients.forEach(ingredient=> { %>
            <div class="item">
              <form action="/ingredients/<%= ingredient._id %>?_method=DELETE" method="POST"
                style="display: inline-block;">
                <button class="delete-btn" type="submit">X</button>
              </form>
              <%= ingredient.name %>
            </div>
            <% }) %>
        </div>
      </div>
      </div>
    </main>

    <%- include('../partials/footer') %>