<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/ingredient-list.css"/>
  <%- include('../partials/nav') %>
<main>
    <div>
      <div>
        <h1>
          <%= title %>
        </h1>
      </div>
      <form action="/ingredients" method="POST">
        <label for="ingredient-input">New Ingredient:</label>
        <input type="text" name="name" id="ingredient-input">
        <button type="submit">Add Ingredient</button>
      </form>

      <div id="ingredients-box">
      <ul>
        <label> INGREDIENTS
          
          <% ingredients.forEach(ingredient=> { %>
            <li>
              <%= ingredient.name %>
            </li>
            <% }) %>
      </ul>
    </div>
    </div>
    </div>
  </main>

    <%- include('../partials/footer') %>