<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/edit.css" />
  <%- include('../partials/nav') %>
    <% if (recipe.author.equals(user?.profile._id)) { %>
      <main>
        <div class="container">
          <div class="wrap">
            <div class="content">

              <label for="title-box" class="title-label"> TITLE: </label>
              <div class="input-group mb-3">
                <form action="/recipes/<%= recipe._id %>?_method=PUT" method="post">
                  <input type="text" name="title" class="form-control" value="<%= recipe.title %>"
                    placeholder="<%= recipe.title %>" aria-label="Recipient's username" aria-describedby="button-addon2"
                    width="100%">
                  <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Update Title</button>
                </form>
              </div>
              <label for="image-box" class="title-label"> IMAGE: </label>
              <div class="input-group mb-3">
                <form action="/recipes/<%= recipe._id %>?_method=PUT" method="post">
                  <input type="text" name="image" class="form-control" value="<%= recipe.image %>"
                    placeholder="<%= recipe.image %>" aria-label="Recipient's username" aria-describedby="button-addon2"
                    width="100%">
                  <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Update Image</button>
                </form>
              </div>

              <div class="ingredient-title"> INGREDIENTS </div>
              <div class="ingredient-box">
                <ul>
                  <% recipe.ingredients.forEach(ingredient=> { %>
                    <li>
                      <%= ingredient.name %>
                        <form action="/recipes/<%= recipe._id %>/ingredients/<%= ingredient._id %>?_method=DELETE"
                          method="POST" style="display: inline-block;">
                          <button class="delete-btn" type="submit">X</button>
                        </form>
                    </li>
                    <% }) %>
                </ul>
              </div>

              <div class="input-group mb-3">
                <form id="add-to-recipe" action="/recipes/<%= recipe._id %>/ingredients" method="POST">
                  <select name="ingredientId" class="form-control select" aria-label="Recipient's username"
                    aria-describedby="button-addon2" width="100%">
                    <option selected disabled>Select a ingredient</option>
                    <% ingredients.forEach(ingredient=> { %>
                      <option value="<%= ingredient._id %>">
                        <%= ingredient.name %>
                      </option>
                      <% }) %>
                  </select>
                  <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add ingredient</button>
                </form>
              </div>
              <a href="/ingredients/new">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Edit ingredient list</button>
              </a>

              <form action="/recipes/<%= recipe._id %>?_method=PUT" method="post">
                <div class="instructions-title">INSTRUCTIONS</div>
                <textarea type="text-area" class="text-area" name="instructions" cols="30" rows="20"
                  value="<%= recipe.instructions %>"><%= recipe.instructions %></textarea>
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Update Instructions</button>
              </form>

              <form action="/recipes/<%= recipe._id %>?_method=PUT" method="post">
                <div class="notes-title">NOTES</div>
                <textarea type="text-area" class="text-area" name="notes" value="<%= recipe.notes %>">
                <%= recipe.notes %>
              </textarea>
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Update Notes</button>
              </form>

              <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon3">Delete Recipe</button>
              </form>

            </div>
          </div>
        </div>
      </main>
      <% } %>
        <%- include('../partials/footer') %>