<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<h1>recipe</h1>
<section>
  <div><%= recipe.title %></div>
  <div>INSTRUCTIONS</div>
  <div><%= recipe.instructions %></div>
  <div>NOTES</div>
  <div><%= recipe.notes %></div>
</section>

<%- include('../partials/footer') %>