<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/show.css" />
  <%- include('../partials/nav') %>
    <main>
      <div class="container">
        <div class="wrap">
          <div class="content">
            <span class="name">
              <%= recipe.author.name %>
            </span>
            <!-- <div class="img">
        <img src="https://i.ibb.co/jGCTfFJ/Instant-Pot-Vegetarian-Chili-Canned-Beans-600x747.jpg" width="400px">
      </div> -->

            <div class="recipe-title">
              <%= recipe.title %>
            </div>
            <div class="ingredient-title">
              INGREDIENTS
            </div>
            <ul>
              <% recipe.ingredients.forEach(ingredient=> { %>
                <li>
                  <%= ingredient.name %>
                </li>
                <% }) %>
            </ul>
            
            <div class="instructions-title">
              INSTRUCTIONS
            </div>
            <div>
              <%= recipe.instructions %>
            </div>

            <div class="notes-title">
              NOTES
            </div>
            <div>
              <%= recipe.notes %>
            </div>

          </div>
          </form>

        </div>
        <button class="btn btn-outline-secondary" id="button-addon2"><a href="/recipes/<%= recipe._id %>/edit">Edit Recipe</a></button>
        
        <form action="/calendar" method="POST">
        <select name="day" class="dropdown-center">
          <option class="dropdown-item" value="Sunday" >Sunday</option>
          <option class="dropdown-item" value="Monday">Monday</option>
          <option class="dropdown-item" value="Tuesday">Tuesday</option>
          <option class="dropdown-item" value="Wednesday">Wednesday</option>
          <option class="dropdown-item" value="Thursday">Thursday</option>
          <option class="dropdown-item" value="Friday">Friday</option>
          <option class="dropdown-item" value="Saturday">Saturday</option>
      </select>
      <select name="meal">
        <option value="Breakfast">Breakfast</option>
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
    </select>
    <input name="recipe" value="<%= recipe._id %>" hidden>
    <button class="btn btn-outline-secondary" type="submit">Add to calendar</button>
  </form>
      </div>
    </main>

    <%- include('../partials/footer') %>